<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<!--
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss} | %-5level | %-30.30logger{30} | %-20.20M | %-4.4line | %msg%n</pattern>
    </layout>
  </appender>
-->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
	<file>calla.log</file>
	<append>true</append>
	<immediateFlush>true</immediateFlush>
	<encoder>
      <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss} | %-5level | %-30.30logger{30} | %-20.20M | %-4.4line | %msg%n</pattern>
	</encoder>
  </appender>
  
  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>

</configuration>